<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><span>MINISTERIO DE SALUD PUBLICA <br>Y ASISTENCIA SOCIAL</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/user"><mat-icon aria-label="person">person</mat-icon><span class="menu-iconspace">Cuenta</span></a>
      <a mat-list-item routerLink="/personas"><mat-icon aria-label="search">search</mat-icon><span class="menu-iconspace">Buscar Persona</span></a>
      <a mat-list-item routerLink="/formulario"><mat-icon aria-label="assignment">assignment</mat-icon><span class="menu-iconspace">Formulario</span></a>
      <a mat-list-item routerLink="/reporte"><mat-icon aria-label="description">description</mat-icon><span class="menu-iconspace">Reporte</span></a>
      <a mat-list-item routerLink="/estadisiticas"><mat-icon aria-label="insert_chart">insert_chart</mat-icon><span class="menu-iconspace">Estadisticas</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="menu">menu</mat-icon>
      </button>
      <span><img src="assets/img/mspas.jpeg" height="42" width="42"></span>
      <span class="spacer"></span>
      |
      <a routerLink="/user"><span class="menutop-iconspace">Pedro Pérez</span><mat-icon aria-label="keyboard_arrow_down">keyboard_arrow_down</mat-icon><mat-icon aria-label="account_circle">account_circle</mat-icon></a>
      <a routerLink="/exit"><span class="menutop-iconspace">Salir</span><mat-icon aria-label="exit_to_app">exit_to_app</mat-icon></a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
