.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: #1f5a8a;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #000;
}

.mat-toolbar span {
  line-height: normal;
}

.mat-drawer {
  background-color: #0a66af;
  color: #fff;
}

.mat-list-base .mat-list-item {
  color: #fff;
}

.menu-iconspace {
  margin:0 25px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.menutop-iconspace {
  margin:0 15px;
}